<!DOCTYPE html>
<!-- HTML -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../static/jquery-3.6.0.min.js"></script>
    <title>Power Manage</title>
</head>



<div class="tab_css">
	<input id="tab1" type="radio" name="tab" checked="checked"/>
	<label for="tab1">Modbus-RTU</label>
	<div class="tab_content">
		<h1>Power MainLoop</h1>
			<hr style="border: 5px solid;"/>
        <h3>Power SubLoop07</h3>
        <button id='btnPowerMainLoop07'><h3>Get MainLoop07</h3></button>
        <div id="PowerMainLoop07"></div>
		<hr>
        <h3>Power SubLoop08</h3>
        <button id='btnPowerMainLoop08'><h3>Get MainLoop08</h3></button>
		<div id="PowerMainLoop08"></div>
		

    
	

	</div>
</div>

	








<body>

	


    <script>
        $(function () {
            var $btnPowerMainLoop01 = $('#btnPowerMainLoop01');
            var $btnPowerMainLoop02 = $('#btnPowerMainLoop02');
            var $btnPowerMainLoop03 = $('#btnPowerMainLoop03');
            var $btnPowerMainLoop04 = $('#btnPowerMainLoop04');
            var $btnPowerMainLoop05 = $('#btnPowerMainLoop05');
            var $btnPowerMainLoop06 = $('#btnPowerMainLoop06');
            var $btnPowerMainLoop07 = $('#btnPowerMainLoop07');
            var $btnPowerMainLoop08 = $('#btnPowerMainLoop08');
            var $btnPowerMainLoop09 = $('#btnPowerMainLoop09');
            var $btnPowerMainLoop10 = $('#btnPowerMainLoop10');
            var $btnPowerMainLoop11 = $('#btnPowerMainLoop11');
            var $btnPowerMainLoop12 = $('#btnPowerMainLoop12');
            var $btnPowerMainLoop13 = $('#btnPowerMainLoop13');
            var $btnPowerMainLoop14 = $('#btnPowerMainLoop14');
			var $PowerMainLoop01 = $('#PowerMainLoop01');
            var $PowerMainLoop02 = $('#PowerMainLoop02');
            var $PowerMainLoop03 = $('#PowerMainLoop03');
            var $PowerMainLoop04 = $('#PowerMainLoop04');
            var $PowerMainLoop05 = $('#PowerMainLoop05');
            var $PowerMainLoop06 = $('#PowerMainLoop06');
            var $PowerMainLoop07 = $('#PowerMainLoop07');
            var $PowerMainLoop08 = $('#PowerMainLoop08');
            var $PowerMainLoop09 = $('#PowerMainLoop09');
            var $PowerMainLoop10 = $('#PowerMainLoop10');
            var $PowerMainLoop11 = $('#PowerMainLoop11');
            var $PowerMainLoop12 = $('#PowerMainLoop12');
            var $PowerMainLoop13 = $('#PowerMainLoop13');
            var $PowerMainLoop14 = $('#PowerMainLoop14');



			$btnPowerMainLoop07.off('click').on('click', function () {
                $.ajax({
                    url: '/powermanage/subloop07',
                    data: {},
                    type: 'GET',
                    success: function (data) {
                        $PowerMainLoop07.text("");
                        $PowerMainLoop07.append("Voltage[V] : " + data.voltage + "<br>");
                        $PowerMainLoop07.append("current_r[A] : " + data.current_r + "<br>");
                        $PowerMainLoop07.append("current_s[A] : " + data.current_s + "<br>");
                        $PowerMainLoop07.append("current_t[A] : " + data.current_t + "<br>");
                        $PowerMainLoop07.append("temperature_r[℃] : " + data.temperature_r + "<br>");
                        $PowerMainLoop07.append("temperature_s[℃] : " + data.temperature_s + "<br>");
                        $PowerMainLoop07.append("temperature_t[℃] : " + data.temperature_t + "<br>");
                        $PowerMainLoop07.append("battery_r : " + data.battery_r + "<br>");
                        $PowerMainLoop07.append("battery_s : " + data.battery_s + "<br>");
                        $PowerMainLoop07.append("battery_t : " + data.battery_t + "<br>");
                        $PowerMainLoop07.append("power[kW] : " + data.power + "<br>");
                        $PowerMainLoop07.append("pf[%] : " + data.pf*100 + "<br>");
                        
                    },
                    error: function (xhr) {
                        alert('Ajax request 發生錯誤');
                    }
                });
            });
            $btnPowerMainLoop08.off('click').on('click', function () {
                $.ajax({
                    url: '/powermanage/subloop08',
                    data: {},
                    type: 'GET',
                    success: function (data) {
                        $PowerMainLoop08.text("");
                        $PowerMainLoop08.append("Voltage[V] : " + data.voltage + "<br>");
                        $PowerMainLoop08.append("current_r[A] : " + data.current_r + "<br>");
                        $PowerMainLoop08.append("current_s[A] : " + data.current_s + "<br>");
                        $PowerMainLoop08.append("current_t[A] : " + data.current_t + "<br>");
                        $PowerMainLoop08.append("temperature_r[℃] : " + data.temperature_r + "<br>");
                        $PowerMainLoop08.append("temperature_s[℃] : " + data.temperature_s + "<br>");
                        $PowerMainLoop08.append("temperature_t[℃] : " + data.temperature_t + "<br>");
                        $PowerMainLoop08.append("battery_r : " + data.battery_r + "<br>");
                        $PowerMainLoop08.append("battery_s : " + data.battery_s + "<br>");
                        $PowerMainLoop08.append("battery_t : " + data.battery_t + "<br>");
                        $PowerMainLoop08.append("power[kW] : " + data.power + "<br>");
                        $PowerMainLoop08.append("pf[%] : " + data.pf*100 + "<br>");
                        
                    },
                    error: function (xhr) {
                        alert('Ajax request 發生錯誤');
                    }
                });
            });

        });
    </script>
</body>

<style>
	.tab_css{display:flex;flex-wrap:wrap;justify-content:center;}
	.tab_css label{margin: 0 5px 5px 0; padding: 10px 16px; cursor: pointer; border-radius: 5px; background: #999; color: #fff; opacity: 0.5;}
	.tab_content{order:1;display: none; width:100%; border-bottom: 3px solid #ddd; line-height: 1.6; font-size: .9em; padding: 15px; border: 1px solid #ddd; border-radius: 5px;}
	.tab_css input:checked + label, .tab_css label:hover{opacity: 1; font-weight:bold;}
	.tab_css input:checked + label + .tab_content{display: initial;}
</style>

</html>
