<!DOCTYPE html>
<!-- HTML -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../static/jquery-3.6.0.min.js"></script>
    <title>Power Manage</title>
</head>



<div class="tab_css">
	<!-- Get IPC_data -->
	<input id="tab1" type="radio" name="tab"/>
	<label for="tab1">IPC_data</label>
	<div class="tab_content">
		<h1>Power SubLoop</h1>
			<hr style="border: 5px solid;"/>
        <h3>IPC Data</h3>
        <button id='btnIPCData'>Get IPC Data</button>
        <div id="IPCData"></div>
        <hr>
	
	</div>
	
	<!-- Get MainLoop Data -->
	<input id="tab2" type="radio" name="tab"/>
	<label for="tab2">MainLoop Data</label>
	<div class="tab_content">
		<h1>MainLoop01</h1>
			<hr style="border: 5px solid;"/>
        <h3>(NP1常用總用電力)MainLoop01</h3>
        <button id='btnPowerMainLoop01'>Get MainLoop01</button>
        <div id="PowerMainLoop01"></div>
        <hr>
		
        <h3>(EP1備援總用電力)MainLoop02</h3>
        <button id='btnPowerMainLoop02'>Get MainLoop02</button>
        <div id="PowerMainLoop02"></div>
        <hr>
	</div>
		
	<!-- Get SubLoop Data -->
	<input id="tab3" type="radio" name="tab" checked="checked"/>
	<label for="tab3">SubLoop Data</label>
	<div class="tab_content">
		<h1>Power SubLoop</h1>
			<hr style="border: 5px solid;"/>
        <h3>(NP2常用空調電力)SubLoop01</h3>
        <button id='btnPowerSubLoop01'>Get SubLoop01</button>
        <div id="PowerSubLoop01"></div>
        <hr>
		<h3>(EP2備用空調電力)SubLoop02</h3>
        <button id='btnPowerSubLoop02'>Get SubLoop02</button>
        <div id="PowerSubLoop02"></div>
        <hr>
		<h3>(NR2插座電力)SubLoop03</h3>
        <button id='btnPowerSubLoop03'>Get SubLoop03</button>
        <div id="PowerSubLoop03"></div>
        <hr>
        <h3>(NL2照明電力)SubLoop04</h3>
        <button id='btnPowerSubLoop04'>Get SubLoop04</button>
        <div id="PowerSubLoop04"></div>
        <hr>
        <h3>(EL2備用電力)SubLoop05</h3>
        <button id='btnPowerSubLoop05'>Get SubLoop05</button>
        <div id="PowerSubLoop05"></div>
        <hr>
        <h3>(NR1插座電力)SubLoop06</h3>
        <button id='btnPowerSubLoop06'>Get SubLoop06</button>
        <div id="PowerSubLoop06"></div>
        <hr>
        <h3>(NL1照明電力)SubLoop07</h3>
        <button id='btnPowerSubLoop07'>Get SubLoop07</button>
        <div id="PowerSubLoop07"></div>
		<hr>
        <h3>(EL1備用電力)SubLoop08</h3>
        <button id='btnPowerSubLoop08'>Get SubLoop08</button>
		<div id="PowerSubLoop08"></div>

</div>

	








<body>

	


    <script>
        $(function () {
            btnIPCData
			var $btnIPCData = $('#btnIPCData');
			var $btnPowerMainLoop01 = $('#btnPowerMainLoop01');
			var $btnPowerMainLoop02 = $('#btnPowerMainLoop02');
			var $btnPowerSubLoop01 = $('#btnPowerSubLoop01');
            var $btnPowerSubLoop02 = $('#btnPowerSubLoop02');
            var $btnPowerSubLoop03 = $('#btnPowerSubLoop03');
            var $btnPowerSubLoop04 = $('#btnPowerSubLoop04');
            var $btnPowerSubLoop05 = $('#btnPowerSubLoop05');
            var $btnPowerSubLoop06 = $('#btnPowerSubLoop06');
            var $btnPowerSubLoop07 = $('#btnPowerSubLoop07');
            var $btnPowerSubLoop08 = $('#btnPowerSubLoop08');
            var $btnPowerSubLoop09 = $('#btnPowerSubLoop09');
            var $btnPowerSubLoop10 = $('#btnPowerSubLoop10');
            var $btnPowerSubLoop11 = $('#btnPowerSubLoop11');
            var $btnPowerSubLoop12 = $('#btnPowerSubLoop12');
            var $btnPowerSubLoop13 = $('#btnPowerSubLoop13');
            var $btnPowerSubLoop14 = $('#btnPowerSubLoop14');
			var $IPCData = $('#IPCData');
			var $PowerMainLoop01 = $('#PowerMainLoop01');
			var $PowerMainLoop02 = $('#PowerMainLoop02');
            var $PowerSubLoop01 = $('#PowerSubLoop01');
            var $PowerSubLoop02 = $('#PowerSubLoop02');
            var $PowerSubLoop03 = $('#PowerSubLoop03');
            var $PowerSubLoop04 = $('#PowerSubLoop04');
            var $PowerSubLoop05 = $('#PowerSubLoop05');
            var $PowerSubLoop06 = $('#PowerSubLoop06');
            var $PowerSubLoop07 = $('#PowerSubLoop07');
            var $PowerSubLoop08 = $('#PowerSubLoop08');
            var $PowerSubLoop09 = $('#PowerSubLoop09');
            var $PowerSubLoop10 = $('#PowerSubLoop10');
            var $PowerSubLoop11 = $('#PowerSubLoop11');
            var $PowerSubLoop12 = $('#PowerSubLoop12');
            var $PowerSubLoop13 = $('#PowerSubLoop13');
            var $PowerSubLoop14 = $('#PowerSubLoop14');
            
			$btnIPCData.off('click').on('click', function () {
                $.ajax({
                    url: '/powermanage/ipc',
                    data: {},
                    type: 'GET',
                    success: function (data) {
                        $IPCData.text("");
                        $IPCData.append("power[kW] : " + data.Main_Power + "<br>");
                        
                    },
                    error: function (xhr) {
                        alert('Ajax request 發生錯誤');
                    }
                });
            });
			
			
			$btnPowerMainLoop01.off('click').on('click', function () {
                $.ajax({
                    url: '/powermanage/mainloop01',
                    data: {},
                    type: 'GET',
                    success: function (data) {
                        $PowerMainLoop01.text("");
                        $PowerMainLoop01.append("Name : " + data.Loop_name + "<br>");
						$PowerMainLoop01.append("Voltage[V] : " + data.voltage + "<br>");
                        $PowerMainLoop01.append("current_r[A] : " + data.current_r + "<br>");
                        $PowerMainLoop01.append("current_s[A] : " + data.current_s + "<br>");
                        $PowerMainLoop01.append("current_t[A] : " + data.current_t + "<br>");
                        $PowerMainLoop01.append("temperature_r[℃] : " + data.temperature_r + "<br>");
                        $PowerMainLoop01.append("temperature_s[℃] : " + data.temperature_s + "<br>");
                        $PowerMainLoop01.append("temperature_t[℃] : " + data.temperature_t + "<br>");
                        $PowerMainLoop01.append("battery_r : " + data.battery_r + "<br>");
                        $PowerMainLoop01.append("battery_s : " + data.battery_s + "<br>");
                        $PowerMainLoop01.append("battery_t : " + data.battery_t + "<br>");
                        $PowerMainLoop01.append("power[kW] : " + data.power + "<br>");
                        $PowerMainLoop01.append("pf[%] : " + data.pf + "<br>");
                        
                    },
                    error: function (xhr) {
                        alert('Ajax request 發生錯誤');
                    }
                });
            });
			$btnPowerMainLoop02.off('click').on('click', function () {
                $.ajax({
                    url: '/powermanage/mainloop02',
                    data: {},
                    type: 'GET',
                    success: function (data) {
                        $PowerMainLoop02.text("");
						$PowerMainLoop02.append("Name : " + data.Loop_name + "<br>");
                        $PowerMainLoop02.append("Voltage[V] : " + data.voltage + "<br>");
                        $PowerMainLoop02.append("current_r[A] : " + data.current_r + "<br>");
                        $PowerMainLoop02.append("current_s[A] : " + data.current_s + "<br>");
                        $PowerMainLoop02.append("current_t[A] : " + data.current_t + "<br>");
                        $PowerMainLoop02.append("temperature_r[℃] : " + data.temperature_r + "<br>");
                        $PowerMainLoop02.append("temperature_s[℃] : " + data.temperature_s + "<br>");
                        $PowerMainLoop02.append("temperature_t[℃] : " + data.temperature_t + "<br>");
                        $PowerMainLoop02.append("battery_r : " + data.battery_r + "<br>");
                        $PowerMainLoop02.append("battery_s : " + data.battery_s + "<br>");
                        $PowerMainLoop02.append("battery_t : " + data.battery_t + "<br>");
                        $PowerMainLoop02.append("power[kW] : " + data.power + "<br>");
                        $PowerMainLoop02.append("pf[%] : " + data.pf + "<br>");
                        
                    },
                    error: function (xhr) {
                        alert('Ajax request 發生錯誤');
                    }
                });
            });
			$btnPowerSubLoop01.off('click').on('click', function () {
                $.ajax({
                    url: '/powermanage/subloop01',
                    data: {},
                    type: 'GET',
                    success: function (data) {
                        $PowerSubLoop01.text("");
                        $PowerSubLoop01.append("Name : " + data.Loop_name + "<br>");
						$PowerSubLoop01.append("Voltage[V] : " + data.voltage + "<br>");
                        $PowerSubLoop01.append("current_r[A] : " + data.current_r + "<br>");
                        $PowerSubLoop01.append("current_s[A] : " + data.current_s + "<br>");
                        $PowerSubLoop01.append("current_t[A] : " + data.current_t + "<br>");
                        $PowerSubLoop01.append("temperature_r[℃] : " + data.temperature_r + "<br>");
                        $PowerSubLoop01.append("temperature_s[℃] : " + data.temperature_s + "<br>");
                        $PowerSubLoop01.append("temperature_t[℃] : " + data.temperature_t + "<br>");
                        $PowerSubLoop01.append("battery_r : " + data.battery_r + "<br>");
                        $PowerSubLoop01.append("battery_s : " + data.battery_s + "<br>");
                        $PowerSubLoop01.append("battery_t : " + data.battery_t + "<br>");
                        $PowerSubLoop01.append("power[kW] : " + data.power*0.001 + "<br>");
                        $PowerSubLoop01.append("pf[%] : " + data.pf + "<br>");
						$PowerSubLoop01.append("powerconsumption[kwh] : " + data.energy + "<br>");
                        
                    },
                    error: function (xhr) {
                        alert('Ajax request 發生錯誤');
                    }
                });
            });
			
			$btnPowerSubLoop02.off('click').on('click', function () {
                $.ajax({
                    url: '/powermanage/subloop02',
                    data: {},
                    type: 'GET',
                    success: function (data) {
                        $PowerSubLoop02.text("");
						$PowerSubLoop02.append("Name : " + data.Loop_name + "<br>");
                        $PowerSubLoop02.append("Voltage[V] : " + data.voltage + "<br>");
                        $PowerSubLoop02.append("current_r[A] : " + data.current_r + "<br>");
                        $PowerSubLoop02.append("current_s[A] : " + data.current_s + "<br>");
                        $PowerSubLoop02.append("current_t[A] : " + data.current_t + "<br>");
                        $PowerSubLoop02.append("temperature_r[℃] : " + data.temperature_r + "<br>");
                        $PowerSubLoop02.append("temperature_s[℃] : " + data.temperature_s + "<br>");
                        $PowerSubLoop02.append("temperature_t[℃] : " + data.temperature_t + "<br>");
                        $PowerSubLoop02.append("battery_r : " + data.battery_r + "<br>");
                        $PowerSubLoop02.append("battery_s : " + data.battery_s + "<br>");
                        $PowerSubLoop02.append("battery_t : " + data.battery_t + "<br>");
                        $PowerSubLoop02.append("power[kW] : " + data.power*0.001 + "<br>");
                        $PowerSubLoop02.append("pf[%] : " + data.pf + "<br>");
						$PowerSubLoop02.append("powerconsumption[kwh] : " + data.energy + "<br>");
                        
                    },
                    error: function (xhr) {
                        alert('Ajax request 發生錯誤');
                    }
                });
            });
			
            $btnPowerSubLoop03.off('click').on('click', function () {
                $.ajax({
                    url: '/powermanage/subloop03',
                    data: {},
                    type: 'GET',
                    success: function (data) {
                        $PowerSubLoop03.text("");
						$PowerSubLoop03.append("Name : " + data.Loop_name + "<br>");
                        $PowerSubLoop03.append("Voltage[V] : " + data.voltage + "<br>");
                        $PowerSubLoop03.append("current_r[A] : " + data.current_r + "<br>");
                        $PowerSubLoop03.append("current_s[A] : " + data.current_s + "<br>");
                        $PowerSubLoop03.append("current_t[A] : " + data.current_t + "<br>");
                        $PowerSubLoop03.append("temperature_r[℃] : " + data.temperature_r + "<br>");
                        $PowerSubLoop03.append("temperature_s[℃] : " + data.temperature_s + "<br>");
                        $PowerSubLoop03.append("temperature_t[℃] : " + data.temperature_t + "<br>");
                        $PowerSubLoop03.append("battery_r : " + data.battery_r + "<br>");
                        $PowerSubLoop03.append("battery_s : " + data.battery_s + "<br>");
                        $PowerSubLoop03.append("battery_t : " + data.battery_t + "<br>");
                        $PowerSubLoop03.append("power[kW] : " + data.power + "<br>");
                        $PowerSubLoop03.append("pf[%] : " + data.pf*100 + "<br>");
						$PowerSubLoop03.append("powerconsumption[kwh] : " + data.power_kwh*0.001 + "<br>");
                        
                    },
                    error: function (xhr) {
                        alert('Ajax request 發生錯誤');
                    }
                });
            });
            $btnPowerSubLoop04.off('click').on('click', function () {
                $.ajax({
                    url: '/powermanage/subloop04',
                    data: {},
                    type: 'GET',
                    success: function (data) {
                        $PowerSubLoop04.text("");
						$PowerSubLoop04.append("Name : " + data.Loop_name + "<br>");
                        $PowerSubLoop04.append("Voltage[V] : " + data.voltage + "<br>");
                        $PowerSubLoop04.append("current_r[A] : " + data.current_r + "<br>");
                        $PowerSubLoop04.append("current_s[A] : " + data.current_s + "<br>");
                        $PowerSubLoop04.append("current_t[A] : " + data.current_t + "<br>");
                        $PowerSubLoop04.append("temperature_r[℃] : " + data.temperature_r + "<br>");
                        $PowerSubLoop04.append("temperature_s[℃] : " + data.temperature_s + "<br>");
                        $PowerSubLoop04.append("temperature_t[℃] : " + data.temperature_t + "<br>");
                        $PowerSubLoop04.append("battery_r : " + data.battery_r + "<br>");
                        $PowerSubLoop04.append("battery_s : " + data.battery_s + "<br>");
                        $PowerSubLoop04.append("battery_t : " + data.battery_t + "<br>");
                        $PowerSubLoop04.append("power[kW] : " + data.power + "<br>");
                        $PowerSubLoop04.append("pf[%] : " + data.pf*100 + "<br>");
						$PowerSubLoop04.append("powerconsumption[kwh] : " + data.power_kwh*0.001 + "<br>");
                        
                    },
                    error: function (xhr) {
                        alert('Ajax request 發生錯誤');
                    }
                });
            });
            $btnPowerSubLoop05.off('click').on('click', function () {
                $.ajax({
                    url: '/powermanage/subloop05',
                    data: {},
                    type: 'GET',
                    success: function (data) {
                        $PowerSubLoop05.text("");
						$PowerSubLoop05.append("Name : " + data.Loop_name + "<br>");
                        $PowerSubLoop05.append("Voltage[V] : " + data.voltage + "<br>");
                        $PowerSubLoop05.append("current_r[A] : " + data.current_r + "<br>");
                        $PowerSubLoop05.append("current_s[A] : " + data.current_s + "<br>");
                        $PowerSubLoop05.append("current_t[A] : " + data.current_t + "<br>");
                        $PowerSubLoop05.append("temperature_r[℃] : " + data.temperature_r + "<br>");
                        $PowerSubLoop05.append("temperature_s[℃] : " + data.temperature_s + "<br>");
                        $PowerSubLoop05.append("temperature_t[℃] : " + data.temperature_t + "<br>");
                        $PowerSubLoop05.append("battery_r : " + data.battery_r + "<br>");
                        $PowerSubLoop05.append("battery_s : " + data.battery_s + "<br>");
                        $PowerSubLoop05.append("battery_t : " + data.battery_t + "<br>");
                        $PowerSubLoop05.append("power[kW] : " + data.power + "<br>");
                        $PowerSubLoop05.append("pf[%] : " + data.pf*100 + "<br>");
						$PowerSubLoop05.append("powerconsumption[kwh] : " + data.power_kwh + "<br>");
                        
                    },
                    error: function (xhr) {
                        alert('Ajax request 發生錯誤');
                    }
                });
            });
            $btnPowerSubLoop06.off('click').on('click', function () {
                $.ajax({
                    url: '/powermanage/subloop06',
                    data: {},
                    type: 'GET',
                    success: function (data) {
                        $PowerSubLoop06.text("");
						$PowerSubLoop06.append("Name : " + data.Loop_name + "<br>");
                        $PowerSubLoop06.append("Voltage[V] : " + data.voltage + "<br>");
                        $PowerSubLoop06.append("current_r[A] : " + data.current_r + "<br>");
                        $PowerSubLoop06.append("current_s[A] : " + data.current_s + "<br>");
                        $PowerSubLoop06.append("current_t[A] : " + data.current_t + "<br>");
                        $PowerSubLoop06.append("temperature_r[℃] : " + data.temperature_r + "<br>");
                        $PowerSubLoop06.append("temperature_s[℃] : " + data.temperature_s + "<br>");
                        $PowerSubLoop06.append("temperature_t[℃] : " + data.temperature_t + "<br>");
                        $PowerSubLoop06.append("battery_r : " + data.battery_r + "<br>");
                        $PowerSubLoop06.append("battery_s : " + data.battery_s + "<br>");
                        $PowerSubLoop06.append("battery_t : " + data.battery_t + "<br>");
                        $PowerSubLoop06.append("power[kW] : " + data.power + "<br>");
                        $PowerSubLoop06.append("pf[%] : " + data.pf*100 + "<br>");
						$PowerSubLoop06.append("powerconsumption[kwh] : " + data.power_kwh + "<br>");
                        
                    },
                    error: function (xhr) {
                        alert('Ajax request 發生錯誤');
                    }
                });
            });
			$btnPowerSubLoop07.off('click').on('click', function () {
                $.ajax({
                    url: '/powermanage/subloop07',
                    data: {},
                    type: 'GET',
                    success: function (data) {
                        $PowerSubLoop07.text("");
						$PowerSubLoop07.append("Name : " + data.Loop_name + "<br>");
                        $PowerSubLoop07.append("Voltage[V] : " + data.voltage + "<br>");
                        $PowerSubLoop07.append("current_r[A] : " + data.current_r + "<br>");
                        $PowerSubLoop07.append("current_s[A] : " + data.current_s + "<br>");
                        $PowerSubLoop07.append("current_t[A] : " + data.current_t + "<br>");
                        $PowerSubLoop07.append("temperature_r[℃] : " + data.temperature_r + "<br>");
                        $PowerSubLoop07.append("temperature_s[℃] : " + data.temperature_s + "<br>");
                        $PowerSubLoop07.append("temperature_t[℃] : " + data.temperature_t + "<br>");
                        $PowerSubLoop07.append("battery_r : " + data.battery_r + "<br>");
                        $PowerSubLoop07.append("battery_s : " + data.battery_s + "<br>");
                        $PowerSubLoop07.append("battery_t : " + data.battery_t + "<br>");
                        $PowerSubLoop07.append("power[kW] : " + data.power + "<br>");
                        $PowerSubLoop07.append("pf[%] : " + data.pf*100 + "<br>");
						$PowerSubLoop07.append("powerconsumption[kwh] : " + data.power_kwh + "<br>");
                        
                    },
                    error: function (xhr) {
                        alert('Ajax request 發生錯誤');
                    }
                });
            });
            $btnPowerSubLoop08.off('click').on('click', function () {
                $.ajax({
                    url: '/powermanage/subloop08',
                    data: {},
                    type: 'GET',
                    success: function (data) {
                        $PowerSubLoop08.text("");
						$PowerSubLoop08.append("Name : " + data.Loop_name + "<br>");
                        $PowerSubLoop08.append("Voltage[V] : " + data.voltage + "<br>");
                        $PowerSubLoop08.append("current_r[A] : " + data.current_r + "<br>");
                        $PowerSubLoop08.append("current_s[A] : " + data.current_s + "<br>");
                        $PowerSubLoop08.append("current_t[A] : " + data.current_t + "<br>");
                        $PowerSubLoop08.append("temperature_r[℃] : " + data.temperature_r + "<br>");
                        $PowerSubLoop08.append("temperature_s[℃] : " + data.temperature_s + "<br>");
                        $PowerSubLoop08.append("temperature_t[℃] : " + data.temperature_t + "<br>");
                        $PowerSubLoop08.append("battery_r : " + data.battery_r + "<br>");
                        $PowerSubLoop08.append("battery_s : " + data.battery_s + "<br>");
                        $PowerSubLoop08.append("battery_t : " + data.battery_t + "<br>");
                        $PowerSubLoop08.append("power[kW] : " + data.power + "<br>");
                        $PowerSubLoop08.append("pf[%] : " + data.pf*100 + "<br>");
						$PowerSubLoop08.append("powerconsumption[kwh] : " + data.power_kwh + "<br>");
                        
                    },
                    error: function (xhr) {
                        alert('Ajax request 發生錯誤');
                    }
                });
            });
			$btnPowerSubLoop09.off('click').on('click', function () {
                $.ajax({
                    url: '/powermanage/subloop09',
                    data: {},
                    type: 'GET',
                    success: function (data) {
                        $PowerSubLoop09.text("");
                        $PowerSubLoop09.append("Voltage[V] : " + data.voltage + "<br>");
                        $PowerSubLoop09.append("current_r[A] : " + data.current_r + "<br>");
                        $PowerSubLoop09.append("current_s[A] : " + data.current_s + "<br>");
                        $PowerSubLoop09.append("current_t[A] : " + data.current_t + "<br>");
                        $PowerSubLoop09.append("temperature_r[℃] : " + data.temperature_r + "<br>");
                        $PowerSubLoop09.append("temperature_s[℃] : " + data.temperature_s + "<br>");
                        $PowerSubLoop09.append("temperature_t[℃] : " + data.temperature_t + "<br>");
                        $PowerSubLoop09.append("battery_r : " + data.battery_r + "<br>");
                        $PowerSubLoop09.append("battery_s : " + data.battery_s + "<br>");
                        $PowerSubLoop09.append("battery_t : " + data.battery_t + "<br>");
                        $PowerSubLoop09.append("power[kW] : " + data.power + "<br>");
                        $PowerSubLoop09.append("pf[%] : " + data.pf*100 + "<br>");
						$PowerSubLoop09.append("powerconsumption[kwh] : " + data.energy*0.001 + "<br>");
                        
                    },
                    error: function (xhr) {
                        alert('Ajax request 發生錯誤');
                    }
                });
            });
			$btnPowerSubLoop10.off('click').on('click', function () {
                $.ajax({
                    url: '/powermanage/subloop10',
                    data: {},
                    type: 'GET',
                    success: function (data) {
                        $PowerSubLoop10.text("");
                        $PowerSubLoop10.append("Voltage[V] : " + data.voltage + "<br>");
                        $PowerSubLoop10.append("current_r[A] : " + data.current_r + "<br>");
                        $PowerSubLoop10.append("current_s[A] : " + data.current_s + "<br>");
                        $PowerSubLoop10.append("current_t[A] : " + data.current_t + "<br>");
                        $PowerSubLoop10.append("temperature_r[℃] : " + data.temperature_r + "<br>");
                        $PowerSubLoop10.append("temperature_s[℃] : " + data.temperature_s + "<br>");
                        $PowerSubLoop10.append("temperature_t[℃] : " + data.temperature_t + "<br>");
                        $PowerSubLoop10.append("battery_r : " + data.battery_r + "<br>");
                        $PowerSubLoop10.append("battery_s : " + data.battery_s + "<br>");
                        $PowerSubLoop10.append("battery_t : " + data.battery_t + "<br>");
                        $PowerSubLoop10.append("power[kW] : " + data.power + "<br>");
                        $PowerSubLoop10.append("pf[%] : " + data.pf*100 + "<br>");
						$PowerSubLoop10.append("powerconsumption[kwh] : " + data.energy*0.001 + "<br>");
                        
                    },
                    error: function (xhr) {
                        alert('Ajax request 發生錯誤');
                    }
                });
            });

        });
    </script>
</body>

<style>
	.tab_css{display:flex;flex-wrap:wrap;justify-content:center;}
	.tab_css label{margin: 0 5px 5px 0; padding: 10px 16px; cursor: pointer; border-radius: 5px; background: #999; color: #fff; opacity: 0.5;}
	.tab_content{order:1;display: none; width:100%; border-bottom: 3px solid #ddd; line-height: 1.6; font-size: .9em; padding: 15px; border: 1px solid #ddd; border-radius: 5px;}
	.tab_css input:checked + label, .tab_css label:hover{opacity: 1; font-weight:bold;}
	.tab_css input:checked + label + .tab_content{display: initial;}
</style>

</html>
